body {
    font-family: 'Manrope', sans-serif;
    color: #3E3E3E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#last-blog {
    margin: 0;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    border-radius: 5px;
    text-decoration: none;
    padding: 16px 24px 16px 24px;
    background: #2285E0;
    color: #fff;
}


.btn-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #3E3E3E;
}

span {
    color: #2285E0;
}

#desktop {
    top: 0;
    left: 0;
    position: fixed;
}

/* hamber menu */

.hamburger-menu {
    display: flex;
    align-items: center;
}

#menu__toggle {
    opacity: 0;
    display: none;
}
  
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    border-radius: 5px;
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #2285E0;
    border-radius: 5px;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}
  
.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 26px;
    height: 26px;  
    cursor: pointer;
    z-index: 1;
}
  
.menu__btn > span {
    display: block;
    position: absolute;
    width: 9px;
    height: 3px;  
    background-color: #9FB7D3;  
    transition-duration: .25s;
}

.menu__btn > span::after {
    display: block;
    position: absolute;  
    width: 19px;
    height: 3px;  
    background-color: #9FB7D3;  
    transition-duration: .25s;
}

.menu__btn > span::before {
    display: block;
    position: absolute;  
    width: 19px;
    height: 3px;  
    background-color: #2285E0;  
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -6px;
}

.menu__btn > span::after {
    content: '';
    top: 6px;
}
  
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;  
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 80px 0;  
    list-style: none;  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);  
    transition-duration: 1s;
    z-index: 999;
}
  
.menu__item {
    display: block;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;  
    transition-duration: .25s;
    color: #3E3E3E;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.header-btn-media {
    padding: 12px 24px;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    transition: all 0.5s ease 0s;
    background: rgba(0, 0, 0, 0.1)
}

.popup:target {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

.popup__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.popup__content {
    width: 570px;
    position: relative;
    padding: 38px 38px 30px 36px;
    background: #F8FBFE;
    box-shadow: 0px 16px 16px rgba(31, 32, 38, 0.1);
    border-radius: 5px;
}

.popup__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.close {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #2285E0;
    cursor: pointer;
}

.main-popup {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 0 0;
}

.popup__info {
    margin: 0 0 0 32px;
}

.popup__info-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    margin: 32px 0 16px 0;
    color: #000;
}

.popup__info-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px 0;
    color: #000;
}

.popup__check-mark {
    margin: 0 16px 0 0;
}

@media only screen and (max-width: 1000px) {
    .popup__content {
        max-width: 282px;
        padding: 24px 24px 12px 14px;
    }

    .popup__title {
        width: 159px;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
    }

    .main-popup {
        display: block;
    }

    .popup__image {
        text-align: center;
    }

    .popup__img {
        width: 82px;
        height: 183px;
    }

    .popup__info {
        margin: 32px 0 0 0;
    }

    .popup__info-item {
        font-size: 12px;
        line-height: 24px;
    }
}